.nav {
    background-color: rgb(248, 149, 165);
    padding: 20px;
  }
  .link {
    padding: 10px;
    color: black;
    text-decoration: none;
  }
  .link:hover {
    background-color: rgb(245, 197, 197);
  }